{% extends 'base.html.twig' %}

{% block title "Leaning SYmfony with Artcle_App" %}

{% block body %}

{% if articles | length > 0 %}
    <h1 class="mb-4 text-center"> {{ articles | length }} Articles </h1>
    {% for row in articles|batch(3) %}
    <div class="row mb-5">
        {% for article in row %}
        <div class="col-md-4">
            <article class="article bg-white rounded shadow">
                <div class="mw-100 overflow-hidden">
                    <a href="{{ path('app_article_show', {'id': article.id}) }}" >
                        <img src="{{ (article.imageName ? vich_uploader_asset(article) : asset('images/image4.jpg')) | imagine_filter('squared_thumbnail_medium') }}"
                            alt="{{ article.titre }}" class="w-100 rounded-top" />
                    </a>
                </div>
                <h1 class="h3 pl-3 pb-3"> <a href="{{ path('app_article_show', {'id': article.id}) }}" class="text-secondary text-decoration-none">{{ article.titre }}</a> </h1>
                <p class="pl-3 pb-3 text-muted" >Créé {{ article.createdAt | ago }}</p>
            </article>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <p class="mt-5 h1 text-center">Aucun article disponible <a href="{{ path('app_article_create') }}">Créer en un</a></p>
{% endif %}

{% endblock %}